<%= render 'layouts/header' %>

<div class="text-center" style="margin-top: 30px;" >

    <h3>
      <strong>Content:</strong>
      <%= @micropost.content %>
    </h3>

    <h3>
      <strong>User:</strong>
      <%= @micropost.user_id %>
    </h3> 

    <%= link_to 'Edit', edit_micropost_path(@micropost),class:"btn btn-success" %> 
    <%= link_to 'Back', microposts_path,class:"btn btn-success",style:"margin-left: 15px;" %>

</div>